.model-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2%;
  height: fit-content;
  padding-bottom: 1%;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  padding: 0 15% 1% 15%;
  border-bottom: 1px solid gray;
}

select {
  font-size: 25px;
}
