.vehicle-model-item {
  text-align: center;
  height: 100%;
  position: relative;
  border: 1px solid white;
  border-radius: 5px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 7px 7px rgba(217, 221, 224, 1);
  -moz-box-shadow: 0px 0px 7px 7px rgba(217, 221, 224, 1);
  box-shadow: 0px 0px 7px 7px rgba(217, 221, 224, 1);
}

.vehicle-model-item:hover {
  transform: translateY(-10px);
  z-index: 999;
}

.edit {
  position: absolute;
  top: 0;
  right: 0;
  width: 2%;
  cursor: pointer;
}

.edit-model {
  position: absolute;
  top: 0;
  right: 0;
  width: 2%;
  padding: 1% 2.4% 0 0;
  cursor: pointer;
  text-transform: uppercase;
}
.edit-menu {
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}
