.vehicle-model-item {
  text-align: center;
  border: 1px solid black;
  height: 100%;
  position: relative;
}

.edit {
  position: absolute;
  top: 0;
  right: 0;
  width: 2%;
  height: 20px;
  border: 1px solid black;
}

.edit-menu {
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}
