.model-list {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5% 0.5%;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  padding: 0 15% 0 15%;
}

select {
  font-size: 25px;
}
