.model-list {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5% 0.5%;
  padding-bottom: 7%;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  padding: 0 15% 1% 15%;
  border-bottom: 1px solid gray;
}

select {
  font-size: 25px;
}
