.navbar {
  padding: 0 5% 0 5%;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.navbar-side {
  display: flex;
  justify-content: space-between;
  gap: 20%;
  text-align: center;
}
