.navbar {
  padding: 0 5% 0 5%;
  display: flex;
  justify-content: space-between;
  font-size: xx-large;
}

.navbar-side {
  display: flex;
  justify-content: space-between;
  gap: 20%;
  text-align: center;
  text-wrap: nowrap;
}

.navbar-side li:hover {
  text-decoration: underline;
  color: #333;
}
