.pagination {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  bottom: 5px;
  gap: 25px;
}

.pagination button {
  font-size: xx-large;
  border-radius: 7px;
  border: 1px solid gray;
  color: black;
}

.pagination button:hover {
  color: grey;
}
