body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul {
  padding: 1% 2% 0 2%;
}

button {
  cursor: pointer;
}

select {
  cursor: pointer;
  color: rgb(101 103 107);
  background-color: transparent;
  border-radius: 7px;
  padding: 2px;
}

select:checked {
  color: "rgb(101 103 107)";
}

select:focus {
  color: "rgb(101 103 107)";
}

.flex {
  display: flex;
}

.link {
  text-decoration: none;
}
.edit-menu {
  gap: 3px;
}
.edit-menu button {
  font-size: x-large;
  border: none;
  background-color: none;
}

.uppercase {
  text-transform: capitalize;
}
